//META{"name":"Minifiedserverlist","description":"3列サーバーリスト","author":"MATTYAN_20XX","version":"3"}*//{}

/*アニメーション時間*/
.guildsWrapper-5TJh6A,.guildsWrapper-5TJh6A:before,.guildsWrapper-5TJh6A>.scrollerWrap-2lJEkd{
  transition-delay: var(--hover-animation-speed);
  transition-duration: var(--hover-animation-speed);
  z-index: 10;
  overflow: visible;
}
/*アイコンを崩さないように幅を固定*/
.guildsWrapper-5TJh6A>.scrollerWrap-2lJEkd{
  min-width: 200px;
  opacity: 0;
}
/*>を表示*/
.guildsWrapper-5TJh6A:before{
  position: absolute;
  content: "▶";
  color: var(--main-color);
  right: 5px;
  top: 50%;
}
/*>を表示させる隙間*/
.guildsWrapper-5TJh6A{
  min-width: 200px;
  right: 180px;
  margin-right: -180px;
}
/*スクローラーを右に移動*/
.guildsWrapper-5TJh6A:hover{
  transform: translateX(180px);
  background-color: rgba(0,0,0,.7);
}
/*アイコンを表示*/
.guildsWrapper-5TJh6A:hover .scrollerWrap-2lJEkd{
  opacity: 1;
}
/*>を非表示に*/
.guildsWrapper-5TJh6A:hover:before{
  opacity: 0;
}

/*サーバーアイコンの整頓*/
.guild-1EfMGQ{
  margin: 5px 5px 5px 5px;
  display: inline-block;
}
/*サーバーリストの真ん中を軸に*/
.guildsWrapper-5TJh6A>.scrollerWrap-2lJEkd{
  text-align: center;
}
/*オンラインのフレンドの数*/
.friendsOnline-_wi_fM{
  margin: auto;
}
/*サーバー追加ボタン修正*/
.guildsAdd-21_IdK{
  bottom: 10px;
  background-color: transparent !important;
  border-color: var(--main-color) !important;
  color: var(--main-color) !important;
}
/*線を真ん中に*/
.guildSeparator-1X4GQ1{
  width: 100%;
}
/*選択しているサーバーの表示*/
.guildInner-3DSoA4{
  border-radius: var(--radius-inner) !important;
}
.selected-ML3OIq:before{
  background-color: transparent !important;
  border-radius: var(--radius) !important;
  width: 100% !important;
  height: 100% !important;
  top: 18px !important;
  left: -2px !important;
  z-index: 1;
  border: solid 2px !important;
  border-color: white !important;
  box-shadow: 0px 0px 3px white !important;
}
/*通知が来たサーバーの表示*/
.unread-qLkInr:before{
  background-color: transparent !important;
  border-radius: var(--radius) !important;
  width: 100% !important;
  height: 100% !important;
  top: 4px !important;
  left: -2px !important;
  border: solid 2px !important;
  border-color: var(--main-color) !important;
  box-shadow: 0px 0px 3px var(--main-color) !important;
}
/*通知が来たサーバーの位置ずれを直す*/
.selected-ML3OIq.unread-qLkInr:before{
  border-color: white !important;
  box-shadow: 0px 0px 3px white !important;
  top: 18px !important;
  left: -2px !important;
  transition-duration: 0s !important;
}
